/* Fonts */
/* @font-face {
    font-family: 'Philosopher';
    src: url(font/Philosopher/Philosopher-Regular.ttf);
}
@font-face {
    font-family: 'Mulish';
    src: url(font/Mulish/Mulish-Regular.ttf);
} */
body{
    margin: 0;
    padding: 0;
    /* Update font later */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title {
    width: 70%;
    margin: auto;
    padding: 10px 10px;
    font-size: 36px;
}
/*  Navigation  */
.navigation {
    border-bottom: 1px solid #B2B2B2;
}
.logo {
    height: 100px;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
nav {
    width: 92%;
    padding: 1px;
    text-align: right;
}
nav li {
    padding: 20px;
    font-weight: bold;
    font-size: 21px;
}
/*  Hero Section  */
.heroSection {
  height: 500px;
  padding: 25px;
  background-color: #F4F4F4;
}
.content {
    width: 70%;
    margin: auto;
    padding: 30px;
}
#introduction {
    font-size: 50px;
}
#introduction a {
    color: #EA4848;
}
#introduction u {
    color: #489CEA;
}
.content p {
    color: #757575;
}
button {
    border-radius: 30px;
    background-color: #80D1FF;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}
/* About Me Section */
.aboutContainer {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    padding: 20px;
    height: 500px;
}
.aboutContainer p {
    margin: 50px 50px 30px 0px;
    font-size: 24px;
}
.aboutContainer b {
    color: #489CEA;
}
.aboutContainer u {
    color: #EA4848;
    font-weight: bold;
}
.aboutContainer img {
    border-radius: 50px;
    margin: 10px;
    padding: 30px;
    height: 335px;
    width: 335px;
}
/*  My Skills Section  */
.mySkills {
    height: 800px;
}
.skillTitle {
    color:#489CEA
}
.flexContainer {
    display: flex;
    width: 90%;
    margin: auto;
}
.skill {
    width:33%;
    margin: 20px 30px;
    padding: 20px;
}
.mySkills img {
    height: 100px;
}
/*  My Work Section  */
.myWork {
    height: 100%;
}
.workGridContainer {
    margin: 50px;
    padding: 50px;
}
.workGrid {
    display: grid;
    margin: auto;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "enroute mindfulReader" 
    "ato ndis";
}
.projectContainer {
    padding: 0px 30px;
    margin: 5px;
}
.projectTag {
    color: #777777;
}
.projectContainer img {
    height: 420px;
    width: 580px;
    border: 1px solid;
}
#Enroute {
    grid-area: enroute;
}
#mindfulReader {
    grid-area: mindfulReader;
}
#ATO {
    grid-area: ato;
}
#NDIS {
    grid-area: ndis;
}
/*  Footer  */
footer {
    background-color: #373738;
    color: white;
    margin-top: 30px;
    height: 200px;
    display: flex;
    padding: 0px 120px;
    justify-content: space-between;
}
.footerWrapper div {
    padding: 5px;
}
.footerContent img {
    color: white;
    height: 12px;
    padding-right: 5px;
}
.socials img {
    height: 44px;
}
/* footer ul {
    display: flex;
    justify-content: center;
    margin: 0;
}
footer li {
    padding: 20px;
} */

/* Mobile Media Query */
@media only screen and (max-width: 800px) {
    .workGrid {
        display: grid;
        grid-template-columns: 50%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "enroute"   
        "mindfulReader" 
        "ato"
        "ndis";
    }
}
